* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: pink;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.loginAndRegBox .title_box {
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}

.loginAndRegBox .login_box .layui-form,
.loginAndRegBox .reg_box .layui-form {
    padding: 0 30px;
}

.loginAndRegBox .login_box .layui-form .links,
.loginAndRegBox .reg_box .layui-form .links {
    display: flex;
    justify-content: flex-end;
}

.loginAndRegBox .login_box .layui-form .links a,
.loginAndRegBox .reg_box .layui-form .links a {
    font-size: 12px;
}

.loginAndRegBox .login_box .layui-form .layui-form-item,
.loginAndRegBox .reg_box .layui-form .layui-form-item {
    position: relative;
}

.loginAndRegBox .login_box .layui-form .layui-form-item .layui-icon,
.loginAndRegBox .reg_box .layui-form .layui-form-item .layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.loginAndRegBox .login_box .layui-form .layui-form-item .layui-input,
.loginAndRegBox .reg_box .layui-form .layui-form-item .layui-input {
    padding-left: 32px;
}

.loginAndRegBox .reg_box {
    display: none;
}